{% extends "!layout.html" %}

{%- block htmltitle %}
    <title>{{ title|striptags|e }} ({{ shorttitle|striptags|e }})</title>
{%- endblock %}

{%- block haikuheader %}
    {%- if theme_full_logo != "false" %}
    <a href="{{ pathto('index') }}">
      <img class="logo" src="{{ pathto('_static/' + logo, 1) }}" alt="Logo"/>
    </a>
    {%- else %}
    {%- if logo -%}
      <img class="rightlogo" src="{{ pathto('_static/' + logo, 1) }}" alt="Logo"/>
    {%- endif -%}
    <h1 class="heading"><span>{{ shorttitle|striptags|e }}</span></h1>
    {%- endif %}
{%- endblock %}

{% block footer %}
{{ super() }}
<script type="text/javascript">
  <!-- Adds target=_blank to external links -->
  $(document).ready(function () {
    $('a[href^="http://"], a[href^="https://"]').not('a[class*=internal]').attr('target', '_blank');
  });
</script>
{%- endblock %}
