{% extends "!layout.html" %}

{%- block htmltitle %}
    <title>{{ title|striptags|e }} ({{ shorttitle|striptags|e }})</title>
{%- endblock %}

{%- block haikuheader %}
    {%- if theme_full_logo != "false" %}
    <a href="{{ pathto('index') }}">
      <img class="logo" src="{{ pathto('_static/' + logo, 1) }}" alt="Logo"/>
    </a>
    {%- else %}
    {%- if logo -%}
      <img class="rightlogo" src="{{ pathto('_static/' + logo, 1) }}" alt="Logo"/>
    {%- endif -%}
    <h1 class="heading"><span>{{ shorttitle|striptags|e }}</span></h1>
    {%- endif %}
{%- endblock %}

{%- block extrahead %}
{{ super() }}
<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-161834593-1']);
  _gaq.push(['_trackPageview']);
</script>
{% endblock %}

{% block footer %}
{{ super() }}
<div class="footer">This page uses <a href="https://analytics.google.com/">
Google Analytics</a> to collect statistics. You can disable it by blocking
the JavaScript coming from www.google-analytics.com.
<script>
  (function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ?
              'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
  })();
</script>
</div>
<script type="text/javascript">
  <!-- Adds target=_blank to external links -->
  $(document).ready(function () {
    $('a[href^="http://"], a[href^="https://"]').not('a[class*=internal]').attr('target', '_blank');
  });
</script>
{%- endblock %}
