name: Update website

# Update on every push
on: [push]

jobs:
  build:
    name: Update website
    runs-on: ubuntu-latest
    steps:
      # check-out this repository
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Set up pandoc
        uses: r-lib/actions/setup-pandoc@v1
      - name: Install LaTeX
        shell: bash -l {0}
        run: |
          sudo paperconfig -p letter
          sudo apt-get install -qq --no-install-recommends dvipng texlive-latex-base texlive-latex-extra texlive-fonts-recommended graphviz xzdec latexmk
      - name: Install dependencies
        shell: bash -l {0}
        working-directory: notes
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      # Check that all links work
      - name: Check external links
        shell: bash -l {0}
        working-directory: notes
        run: make linkcheck
      # Build the website locally
      - name: Build website
        shell: bash -l {0}
        working-directory: notes
        run: make html
      # Push to Amazon S3
      - name: Upload website
        uses: jakejarvis/s3-sync-action@v0.5.1
        with:
          args: --acl public-read --follow-symlinks --delete
        env:
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: 'us-east-2'
          SOURCE_DIR: 'build/html'      # optional: defaults to entire repository
